# Created by .ignore support plugin (hsz.mobi)
Будет удалено .idea/
Будет удалено joda-jpa-coverters.iml
Будет удалено pom.xml
Будет удалено src/
Будет удалено src/main/resources/
Будет удалено src/test/

Будет удалено target/
